@import "./mixins";

/* variables */
$color-primary: #0721b4;
$color-primary-light: #1334f1;
$color-primary-dark: #010a41;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
//Font
$default-font-size: 1.6rem;
$large-font-size: 2.2rem;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  background-image: url("../img/subtle_white_mini_waves.png");
  @include respond(tab-port) {
    padding: 0;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
.header {
  display: flex;
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/michael-fousert-lE5-z4nTCTQ-unsplash.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url("../img/michael-fousert-lE5-z4nTCTQ-unsplash.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    @include respond(tab-port) {
      top: 1rem;
      left: 1rem;
    }
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* button */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1rem;

    @include respond(phone) {
      font-size: 10px;
      padding: 1.5rem 2rem;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: #fff;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
    @include respond(tab-port) {
      font-size: 1rem;
      padding: 1px;
    }
    @include respond(phone) {
      font-size: 0.8rem;
      padding: 1px;
    }
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

// About Section
.section-about {
  display: flex;
  background-color: #fff;
  margin: 50px auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.section-about .container {
  text-align: center;
  left: 15%; 
  position: relative;
  width:70%;
}

.section-about h1 {
  text-size-adjust: 3rem;
  text-align: center;
}

.section-about p {
  text-size-adjust: 2rem;
}

// Feature section
.section-features {
  background-color: #fff;
  margin: 50px auto;
  width: 100%;
  padding: 20px 20px 20px 20px;
  display: grid;
  justify-self: center;
  text-align: left;
  flex-direction: column;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  height: auto;
}

.feature {
  grid-gap: 5px;
  margin-right: 5px;
  display: flex;
  line-height: 20px;
}

.feature-text {
  display: block;
  margin: 0 0 0 12px;
}

.feature-title {
  text-size-adjust: 2rem;
  margin-bottom: 0;
}

.feature-description {
  text-size-adjust: 2rem;
  margin-top: 5px;
}

.feature:nth-child(1){
  color: rgb(58, 73, 121);
}

.feature:nth-child(2){
  color: rgb(58, 119, 121);
}

.feature:nth-child(3){
  color: rgb(117, 121, 58);
}

.feature:nth-child(4){
  color: rgb(121, 58, 93);
}

.feature:nth-child(5){
  color: rgb(58, 70, 121);
}

.feature:nth-child(6){
  color: rgb(121, 58, 58);
}
// features media queries
@media(max-width: 1024px) {
  .section-features {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-self: center;
    text-align: left;
    flex-direction: column;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5px;
    height: auto;
  }
}

@media(max-width: 768px) {
  .section-features {
    margin: 0 auto;
    width: 100%;
    padding: 23px 23px 10px 23px;
    display: grid;
    justify-self: center;
    text-align: left;
    flex-direction: column;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5px;
    height: auto;
  }
}

@media(max-width: 500px) {
  .section-features {
    margin: 0 auto;
    width: 100%;
    padding: 23px;
    display: grid;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    grid-template-columns: repeat(1, 6fr);
    grid-gap: 5px;
    height: auto;
  }

  .feature {
    grid-gap: 5px;
    display: grid;
    margin-right: 5px;
    line-height: 20px;
  }

  .feature:nth-child(3){
    display: none;
  }
  
  .feature:nth-child(5){
    display: none;
  }
  
  .feature:nth-child(6){
    display: none;
  }
}



/* animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
